<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"CTA"},"style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"7vw","bottom":"7vw","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"tertiary","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-tertiary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:7vw;padding-right:var(--wp--preset--spacing--50);padding-bottom:7vw;padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1,"placeholder":"Add heading...","style":{"typography":{"lineHeight":"1.2"}},"textColor":"primary"} -->
<h1 class="wp-block-heading has-primary-color has-text-color" style="line-height:1.2">Ready to Build Your Dream Home?</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Discover how we can transform your construction project.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"secondary","style":{"color":{"text":"#ffffff"}},"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-secondary-background-color has-text-color has-background wp-element-button" href="#our-services" style="color:#ffffff">Services</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button" href="#contact-us">Contact Us</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"About US"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="about-us" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"align":"center","id":18,"width":"389px","height":"auto","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image aligncenter size-full is-resized"><img src="https://crltrndad.files.wordpress.com/2023/11/pexels-photo-8821015.jpeg" alt="" class="wp-image-18" style="width:389px;height:auto" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading -->
<h2 class="wp-block-heading">About us</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>CJW TRINIDAD CONSTRUCTION SERVICES is a trusted name in the construction industry, renowned for our commitment to excellence and client satisfaction. With a skilled and dedicated team, we provide comprehensive construction services that encompass technical expertise, project management, and meticulous attention to detail. Our goal is to deliver exceptional results efficiently, without compromising on quality. With clear and transparent communication, we work closely with our clients to understand their needs and ensure their vision becomes a reality CJW TRINIDAD CONSTRUCTION SERVICES, we take pride in our track record of successful projects and the lasting relationships we have built with our satisfied clients.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<p class="has-link-color"></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Vision"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|60","left":"var:preset|spacing|60"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="our-vision" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|80"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px"}}}} -->
<h2 class="wp-block-heading" style="margin-top:0px">Our vision</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>To fulfill our mission of providing a comfortable lifestyle and work environment for our valued clients, dedicated employees, and esteemed end users of our exceptional products, we are committed to continuously striving for excellence. Through our unwavering dedication to innovation, customer satisfaction, and employee well-being, we aim to create a harmonious ecosystem where everyone can thrive and achieve their fullest potential. By prioritizing the needs and desires of our stakeholders, we endeavor to foster long-lasting relationships built on trust, reliability, and mutual success. Together, we can pave the way for a brighter and more prosperous future.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"id":23,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/weld-hot-soldering-radio-welder-73833.jpeg" alt="" class="wp-image-23" /></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Services"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|60"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="our-services" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide" id="Services">Our services</h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":28,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none","style":{"color":{"duotone":"unset"}}} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/pexels-photo-4117878.jpeg" alt="" class="wp-image-28" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Land Development</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":29,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/pexels-photo-2876787.jpeg" alt="" class="wp-image-29" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Home Improvement</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":30,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/pexels-photo-7599735.jpeg" alt="" class="wp-image-30" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Building Home Project</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":31,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/pexels-photo-4946918.jpeg" alt="" class="wp-image-31" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Extension</h2>
<!-- /wp:heading --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Gallery"},"align":"full","style":{"spacing":{"padding":{"top":"3.5vw","bottom":"3.5vw"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:3.5vw;padding-bottom:3.5vw"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":{"top":"0px","left":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} -->
<div class="wp-block-group alignwide has-link-color"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33%"} -->
<div class="wp-block-column" style="flex-basis:33%"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}}} -->
<div class="wp-block-group"><!-- wp:image {"id":43,"sizeSlug":"large","linkDestination":"custom","className":"size-full"} -->
<figure class="wp-block-image size-large size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/wgh1-1.png?w=630" alt="" class="wp-image-43" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.4","fontSize":"0.875rem"}}} -->
<p style="font-size:0.875rem;line-height:1.4">West Governor Heights Phase 1 - Trece Martires, Cavite</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"67%"} -->
<div class="wp-block-column" style="flex-basis:67%"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}}} -->
<div class="wp-block-group"><!-- wp:image {"id":42,"width":"786px","height":"auto","sizeSlug":"full","linkDestination":"custom","className":"size-full"} -->
<figure class="wp-block-image size-full is-resized"><img src="https://crltrndad.files.wordpress.com/2023/11/futura-plains-4-1.webp" alt="" class="wp-image-42" style="width:786px;height:auto" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.4","fontSize":"0.875rem"}}} -->
<p style="font-size:0.875rem;line-height:1.4">Futura Plains - Dalig, Teresa</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"3.5vw"} -->
<div style="height:3.5vw" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}}} -->
<div class="wp-block-group"><!-- wp:image {"id":39,"sizeSlug":"full","linkDestination":"custom","className":"size-full"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/lancaster.jpg" alt="" class="wp-image-39" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.4","fontSize":"0.875rem"}}} -->
<p style="font-size:0.875rem;line-height:1.4">Lancaster - Imus, Cavite</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}}} -->
<div class="wp-block-group"><!-- wp:image {"id":40,"sizeSlug":"full","linkDestination":"custom","className":"size-full"} -->
<figure class="wp-block-image size-full"><img src="https://crltrndad.files.wordpress.com/2023/11/valle-verde-1.jpg" alt="" class="wp-image-40" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.4","fontSize":"0.875rem"}}} -->
<p style="font-size:0.875rem;line-height:1.4">Valle Verde - Dasmariñas, Cavite</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Contact"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" id="contact-us" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"verticalAlignment":null,"align":"wide","style":{"spacing":{"blockGap":"40px"}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%","style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:site-title {"isLink":false,"style":{"typography":{"fontSize":"26px","lineHeight":"1"}}} /-->

<!-- wp:social-links {"iconColor":"foreground","iconColorValue":"#333333","size":"has-small-icon-size","style":{"spacing":{"blockGap":{"top":"16px","left":"16px"}}},"className":"is-style-logos-only"} -->
<ul class="wp-block-social-links has-small-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"https://www.facebook.com/Cjw.trinidad","service":"facebook"} /-->

<!-- wp:social-link {"url":"https://twitter.com","service":"twitter"} /-->

<!-- wp:social-link {"url":"http://instagram.com/","service":"instagram"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:paragraph {"style":{"typography":{"fontSize":"1.125rem","lineHeight":1.6}}} -->
<p style="font-size:1.125rem;line-height:1.6">Blk 25 Lt 7 Ph 1 Hillsview Royale, Timalan Balsahan, Naic, Cavite, Philippines</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"stretch","width":"25%","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:25%"><!-- wp:paragraph {"style":{"typography":{"fontSize":"1.13rem","lineHeight":1.6}}} -->
<p style="font-size:1.13rem;line-height:1.6"><a href="mailto:cjwconstruction2022@gmail.com">cjwconstruction2022@gmail.com</a><br><a href="tel:+639164511869">+639-16-451-1869</a> / <a href="tel:+639911266979">+639-91-126-6979</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"4em"}}},"fontSize":"small"} -->
<p class="has-small-font-size" style="margin-top:4em">Proudly Powered by&nbsp;<a href="https://wordpress.org/">WordPress</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->